$color--blue--main: #181818;
$color--blue--secondary: #252837;

$color--orangered: #eb1c24;

$color--grey--light: #f2f3f8;
$color--grey--dark: #4d4d4d;

$color--black: #252837;

$color--body--bg: #f4f5fa;

$font-primary: 'Noto Sans', sans-serif;
$font-secondary: 'Teko', sans-serif;