$font-primary: 'Playfair Display';
$font-secondary: 'Merriweather', serif;

$color--black--primary: #323334;
$color--black--secondary: #151617;

$color--blue--light : #82cce2;
$color--blue--dark: #4097c9;