.contact {
    width: 100%;
    height: 10rem;

    padding: 0rem 10rem;

    @include respond(phone){
        padding: 0;
    }
    &__content {
        width: 100%;
        border-top: 1px solid lighten($color-secondary, 10);

        display: grid;
        grid-template-columns: minmax(min-content, 1fr) 10% 30% 5%;


        @include respond(phone){

            grid-template-columns: 100%;
            

        }
    }

    &__about {
     
        padding: 2rem;
        @include respond(phone){
            grid-column: 1/span 1;
            padding: 4rem;
        }
        h2 {
            text-align: left;
            font-size: 2rem;
        }
        p {
            color: white;
            font-size: 1.3rem;
            line-height: 1.6;
        }
    }
    &__info {

        padding-top: 4.5rem;
        width: 100%;
        margin-top: 4rem;
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(20rem, max-content));
        grid-template-rows: repeat(4, 3rem);
        @include respond(phone){
            // padding: 3rem;
        }
        &__group {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            svg {
                width: 1.7rem;
                fill: darken($color: white, $amount: 10);
            }
          
            p, a {
                color: darken($color: white, $amount: 10);
                text-decoration: none;

                font-size: 1.2rem;
                margin-left: 1rem;

            }
        }
    }

    &__form {
        padding: 2rem 0;
        grid-column: 3/span 1;
        @include respond(phone){
            grid-column: 1/span 1;
            padding: 5rem;
        }
    }
    &__heading {
        text-align: center;
        color: white;
        
        margin-bottom: 2rem;
    }
    &__group {
        width: 100%;
    }
    &__control {
        width: 100%;
        margin-bottom: 1rem;
        padding: .7rem 2rem;

        outline: none;
        color: white;

        background-color: lighten($color-secondary, 5);
        border: none;
        resize: none;

        &::placeholder {
            color: darken(white, 10);
        }
        
    }
    &__submit {
        width: 100%;
        padding: 1rem;
        background-color: lighten($color-secondary, 5);

        border: none;
        color: white;
        outline: none;

        cursor: pointer;
        &:hover {
            background-color: lighten($color-secondary, 10);
        }
    }
}

.contact__container {
    transition: all .5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    overflow: hidden;
}

.contact__container--folded {
     height: 0px;
}