.work {

    background-color: $color--blue--secondary;
    grid-column: full-start/full-end;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    &__content {
        grid-column: 2/-1;
        width: 100%;

        display: grid;
        row-gap: 1rem;

        padding: 10rem 0rem;
    }
    &__heading {
            color: white;
            font-family: $font-primary;
    
            // width: 30rem;
    
            text-transform: uppercase;
    
            font-size: 3rem;
            font-weight: 700;    
    }
    &__slider {
        height: 27vw;
        width: calc(100% - 1rem);

        padding-bottom: 3rem;
        overflow: hidden;
        // background: lighten($color--blue--secondary, 10);
        // overflow-x: scroll;
        // overflow-y: hidden;

        display: flex;
        flex-direction: row;

    }
    &__text {
        color: white;
        font-family: $font-primary;

        // width: 30rem;


        font-size: 1.4rem;
        padding: 3rem 0 1rem;
    }
    &__button {
        button {
        background-color: $color--orangered;

        color: white;
        font-family: $font-primary;

        text-transform: uppercase;
         border: none;
         
         padding: 1.2rem 3rem;

         span {
             font-size: 1.6rem;
             padding-right: 1rem;
         }
        }
    }
}

.image__container {
padding: 3rem;
width: 100rem;
height: 25vw;

overflow: hidden;

    img {
        height: 25vw;
        object-fit: center;
    }
}